@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/Raleway-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/Raleway-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/Raleway-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/Raleway-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/Raleway-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
}


@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
    font-weight: 700;
}